*{
    margin:0;
    padding: 0;
}
/*头部样式设置*/
.header {
    width: 100%;
    height: 40px;
    background: #333;
    font-family: '宋体';
}
header ul li{
    list-style: none;
    display: inline-block;
    margin-top: 12px;
    margin-right: 20px;
}
.left-content li:first-child{
    margin-left: 145px;
}
.left-content{
    float: left;
}
.right-content{
    float:right;
}
header ul li a{
    color:white;
    font-size: 12px;
    text-decoration: none;
}
/*logo样式设置*/
.logo-container {
    position: relative;
    width: 100%;
    background: #fff;
}
.logo-container .logo-div {
    width: 98px;
    height: 58px;
    margin: 0 auto;
    padding: 55px 0;
}

/*底部样式设置*/
.footer-feature{
    width: 100%;
    background: #333;
    border-bottom: 1px solid #666;
}
.footer-container ul{
        padding:46px;
        font-size: 18px;
        width:900px;
        margin:0 auto;
        color:white;
        font-family: '宋体';
}
.footer-container ul li{
    display: inline-block;
    margin-left:50px;
}
.footer-container ul li div{
    display: inline-block;
    vertical-align: middle;
}
.sprites1,.sprites2,.sprites3,.sprites4{
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.sprites1{
    background: url("img/css_sprites.png") -10px -10px;
}
.sprites2{
    background: url("img/css_sprites.png") -57px -58px;
}
.sprites3{
    background: url("img/css_sprites.png") -10px -58px;
}
.sprites4{
    background: url("img/css_sprites.png") -57px -11px;
}
.footer-help{
    border-top: 1px solid #666;
}
.help-content-nav{
    width: 1000px;
    margin:30px auto;
}
.help-content-nav ul{
    display: inline-block;
    list-style: none;
    margin-left: 70px;
}
.dt-text-color{
    color:white;
    font-size: 14px;
}
.help-content-nav dl dd{
    margin-top: 15px;
}
.help-content-nav dl dd a{
    color:#666;
    font-size: 12px;
    text-decoration: none;
}